@model TwitterClone.Models.DashboardModel

<div class="row">
    <h3>Tweets</h3>
</div>
<div class="row">
    <div class="col-auto">
        <table class="table border-0 table-responsive">
            @foreach (var twe in Model.TweetList)
            {
                <tr>
                    <td colspan="1">@twe.TweetUser</td>
                    <td colspan="4">@twe.TweetMessage</td>
                    <td colspan="1">@twe.TweetTime</td>
                </tr>
            }
        </table>
    </div>
</div>